<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">CLASS</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Maths</th>
                                    <th>Shona</th>
                                    <th>English</th>
                                    <th>Agriculture</th>
                                    <th>ICT</th>
                                    <th>Heritage</th>
                                    <th>PE</th>
                                    <th>Comments</th>

                                   
                                </tr>
                            </thead>
                            
                            <tbody>

                                <%if(marks.length>0){ %>

                                    <%marks.forEach(data=>{%>
                                        <tr>
                                            <td><%= data.name %></td>
                                            <td><%= data.surname %></td>
                                                   <td><%= data.maths %></td>
                                                   <td><%= data.shona %></td>
                                                   <td><%= data.english %></td>
                                                   <td><%= data.agriculture %></td>
                                                   <td><%= data.ict %></td>
                                                   <td><%= data.heritage %></td>
                                                   <td><%= data.pe %></td>
                                                   <td>
                                                       <textarea name="comment" id="cnt" cols="30" rows="1" style="border: none;"><%= data.comments %></textarea>
                                                   </td>
                                               
                                               </tr>



                                   <% })%>


                               <% }%>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright @ Chancellar</span>
            </div>
        </div>
    </footer>
</div>